.button{
    background-color:#0f6efc;
    color: white;
    border-color: var(--bs-btn-hover-border-color);
    padding: 7px;
    width: 120px;
    border-radius: 10px;
    margin-left: 60px;
}

.button :hover{
    background-color:white !important;
    color: black !important;
}

.view{
    background-color:#0f6efc;
    color: white;
    border-color: var(--bs-btn-hover-border-color);
    padding: 7px;
    width: 70px;
    border-radius: 10px;
}

